{% extends 'base.html' %}

{% block content %}
<h3> {{ object.date }} </h3>
<p>Patient name: {{ object.patient }} </p>
<p>Doctor: {{ object.doctor }}</p>
<p>Specialty: {{ object.specialty }} </p>
<p>Description: {{ object.description }} </p>
<p>Medicines: </p>
{% for medicine in object.medicine.all %}
<span> {{medicine}} </span>
    {% endfor %}<br><br>
<p>Procedures: </p>
    {% for procedure in object.procedure.all %}
<span> {{procedure}} </span>
    {% endfor %}

<h5><a href="{% url 'visit_edit' object.pk %}"> Change information in this visit</a> </h5>
<h5> <a href="{% url 'visit_delete' object.pk %}"> Delete this visit from database</a></h5>

{% endblock %}